# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE / Editor specific
.idea/
.vscode/

# Exclude specific files and directories
db.sqlite3 